<div #pageContainer class="page-container">
    <div>landing-page works!</div>
    <div style="width: 100vw; height: fit-content;">
        <div class="road"></div>
    </div>
    <img src="../assets/farola.png" class="post" />
    <img src="../assets/piloto apoyado.png" class="driver" />
    <div class="road"></div>
    <span [ngClass]="{'scroll-btn': true, 'scroll-btn--desaparecer': scrollCounter > 0 }">
        <span class="mouse">
            <span>
            </span>
        </span>
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </span>
    
</div>
