.page-container {
    width:100%;
    height:100%;
    display: flex;
	align-items: center;
	flex-direction: column;
    background-color: black;
    color: white
}

.post {
	width: 200px;
	height: 300px;
	z-index: 2;
	position: absolute;
	bottom: 5vh;
	left: 2.4vw;
}

.road {
	// width: 500px;
	width: 100%;
	height: 150px;
	z-index: 1;
	background-image: url(../../public/assets/carretera_recortada.jpg);
	background-repeat: repeat-x;
	background-position: left;
	background-size: 500px 150px;
	position: absolute;
	bottom: 4vh;
	left: 0;
}

.driver {
	width: 200px;
	height: 300px;
	position: absolute;
	bottom: 5vh;
	left: 2vw;
	z-index: 3;
}

.arrows {
	width: 60px;
	height: 74px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.scroll-btn {
	width: fit-content;
	opacity: 1;
	display: block;
	position: absolute;
	transition: opacity 1.5s ease-in-out;
	left: calc(50vw - 17px);
	top: calc(100vh - 190px);
	text-align: center;

	&--desaparecer {
		opacity: 0;
	}
}

.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}

.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 52.5px;
	height: 82.5px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 34.5px;
}

.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

@-webkit-keyframes ani-mouse {
	0% {
        opacity: 0;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 29%;
    }
    30% {
        opacity: 1;
        top: 71%;
    }
    65% {
        opacity: 0;
        top: 71%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
	0% {
        opacity: 0;
        top: 29%;
        }
    15% {
        opacity: 1;
        top: 29%;
    }
    30% {
        opacity: 1;
        top: 71%;
    }
    65% {
        opacity: 0;
        top: 71%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
	0% {
	opacity: 0;
	top: 29%;
	}
  15% {
	opacity: 1;
	top: 29%;
	}
	30% {
	opacity: 1;
	top: 71%;
	}
	65% {
	opacity: 0;
	top: 71%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}